@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --purple: #401481;
  --green: #70f8ba;
  --blue: #7cb4b8;
  --dark_green: #002a22;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .title-card {
    width: 90vw;
  }
}

@media only screen and (min-width: 770px) {
  /* For mobile phones: */
  .title-card {
    width: 50vw;
  }
}

.title-card {
  background: white;
  /* border: 5px solid white; */
  height: fit-content;
  border-radius: 4% 4% 25px 25px;
  margin-bottom: 1em;
  padding-right: 0%;
  padding-left: 0%;
}

pre.json {
  text-align: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.punctuation-code {
  color: black;
}

.category {
  margin: 2em;
}

.category-title {
  text-align: left;
  margin-bottom: 1em;
}

.json {
  background: white;
  color: black;
  font-size: small;
  font-family: system-ui;
  border-radius: 3px;
}

.integer-code {
  color: blue;
  font-weight: bold;
  font-family: inherit;
}

.string-code {
  color: green;
  font-family: inherit;
}

.category-content {
  text-align: left;
}

.purple {
  color: var(--purple);
}

body {
  background: var(--blue);
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.api-title {
  font-size: 2em;
}

.inspired {
  color: lightgrey;
}

a .inspired {
  color: lightgrey;
}

.inspired:hover {
  color: grey;
}
.container-fluid {
  background-color: var(--blue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 1em;
  width: 100%;
}

.main-title {
  margin: 1em;
  font-style: italic;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://imgr.search.brave.com/pRyRdwfHzyxUizRdzVernSSGJuOJPRcFFp1QWq6kuAQ/fit/1000/539/ce/1/aHR0cHM6Ly9zdGF0/aWMuYm9vc2thLXAu/Y29tL2ltYWdlcy9u/ZXdzX29wdGkvMTAw/MC9ib29iYS1ub3V2/ZWxsZS1leGNsdS1z/dXItaW5zdGFncmFt/LXNvbi5qcGc);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1% 1% 0% 0%;
}

.banner-main-text {
  color: white;
  font-weight: bolder;
  position: absolute;
  top: 0;
  color: var(--green);
  font-size: larger;
}

.banner-subtext {
  color: var(--purple);
  color: var(--dark_green);
  font-weight: bolder;
  font-size: large;
}

.presentation {
  height: fit-content;
}

.numbers {
  color: var(--green);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6em;
}

.number {
  border: 5px solid var(--purple);
  background-color: var(--purple);
  border-radius: 10%;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid lightgrey;
  padding-top: 1em;
  padding-bottom: 1em;
}

.social-icons {
  font-size: 2.2em;
  color: var(--purple);
  transition: 0.5s;
}

.social-icons:hover {
  color: var(--green);
}

.content {
  color: var(--purple);
}
